.body-content {
    margin-top: 72px;
}

.search-bar{
    padding-top: 10px;
}

.nav-bar {
    list-style-type: none;
}

.nav-bar li {
    float: right;
    display: inline;
    margin-right: 10px;
}

#profile-body {
 font-family: Arial, Helvetica, sans-serif;
}

#change-profile-picture-link {
  font-size: 10px;
}

#name {
font-size:40px;
}

#my-recipes {
font-size: 30px;
}

#recipe-name {
 text-align: center;
 font-size:15px;
}