<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
    <nav th:replace="fragments :: page-header"></nav>
</head>
<body class="container body-content">
<h1>Choose a recipe to delete:</h1>
    <form method="post">
        <tr th:each="recipe : ${recipesToDelete} ">
            <input type="radio"th:value="${recipe.id}" th:name="deleteThis"/>
             <lable  th:text="${recipe.name}"/>
            <br>
        </tr>
        <br>
        <button type="submit" value="Submit">Submit</button>
    </form>
</body>
</html>