<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">

    <!-- Bootstrap stylesheets and script -->
    <!--<link th:href="@{/css/bootstrap.css}" rel="stylesheet" />-->
    <link  rel="stylesheet" type="test/css" th:href="@{/recipebook.css}" />
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

    <title th:text="'Recipe Book'">Recipe Book</title>
</head>

<body>

<div th:fragment="page-header">

    <ul>
        <li><a th:href="@{/}">Home</a></li>
        <li><a th:href="@{/profile}">Profile</a></li>
        <li><a th:href="@{/logout}">Logout</a></li>
        <li>
            <form th:action="@{/search}" method="post">
                <input type="text" name="searchTerm">
                <button>Search</button>
            </form>
        </li>
    </ul>
</div>


</body>
</html>