<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">
    <link th:href="@{css/recipebook.css}" rel="stylesheet"/>
    <title th:text="'Recipe Book'">Recipe Book</title>
</head>

<body>

<span th:fragment="page-header">

    <ul class="nav-bar">
        <li style="float:left"><a  th:href="@{/}">Home</a></li>
        <li>
            <form th:action="@{/search}" method="post">
                <input type="text" name="searchTerm">
                <button>Search</button>
            </form>
        </li>
        <li><a th:href="@{/logout}">Logout</a></li>
        <li><a th:href="@{/profile}">My Profile</a></li>
    </ul><br>
</span>


</body>
</html>