<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container body-content">
<nav th:replace="fragments :: page-header"></nav>
<div>
    <table align="center">
        <tbody id="profile">
            <tr align="center">
                <td>
                    <img src="https://secure.gravatar.com/avatar/4256abfa50333ffadd62fd8fb70849ad" alt="Profile picture not found" width="200" height="200" style="border-radius: 50%;">
                    <p th:text="${user.username}">USERNAME</p>
                </td>
                <td>
                    <div th:replace="fragments :: favorite-recipe-thumbnail"></div>
                </td>
            </tr>
            <tr align="center">
                <td colspan="2">
                    <br>
                    <p th:if="${user.bio}" th:text="${user.bio}">BIO</p>
                    <div th:if="${isUserInSession}">
                        <form method="post" th:unless="${user.bio}">
                            <div class="form-group">
                                <label>Add Bio:
                                    <input type="text" class="bio" th:field="${user.bio}" />
                                </label>
                                <input type="submit" value="Submit">
                                <p class="error" th:errors="${user.bio}"></p>
                            </div>
                        </form>
                    </div>
                </td>
            </tr>
            <tr align="center">
                <td colspan="2">
                    <div th:replace="fragments :: recipe-thumbnail"></div>
                    <br>
                </td>
            </tr>
            <tr>
                <td>
                    <a th:href="@{/create-recipe}">Create-a-Recipe</a>
                    <a th:href="@{/delete}">Delete-a-Recipe</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>